<div class="tool-overlay">
  <div class="tool-panel-horizontal">
    <div 
        class="tool-item" 
        (click)="toggleDrawing(); onToolClick($event)" 
        [class.active]="modoDibujo" 
        title="Seleccionar puntos">
        <img src="seleccionar.png" alt="Seleccionar">
    </div>

    <div class="tool-item" (click)="undoPoint()" title="Revertir">
      <img src="back.png" alt="Retroceder">
    </div>

    <div class="tool-item" (click)="makeRoute()" title="Generar ruta">
      <img src="crear.png" alt="Ruta">
    </div>

    <div class="tool-item" (click)="openSaveModal()" [class.disabled]="!routeReady()" title="Guardar ruta">
      <img src="guardar.png" alt="Guardar">
    </div>

    <div class="tool-item" (click)="closeSaveModalWithConfirm()" title="Cerrar">
      <img src="x.png" alt="Cancelar">
    </div>
  </div>
</div>

<!-- Modal fuera del map-container -->
<div class="save-modal" *ngIf="showSaveModal"> <div class="modal-overlay" (click)="closeSaveModal()"></div>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3>Nombre de la ruta</h3>
      <button class="close-btn" (click)="closeSaveModalWithConfirm()" title="Cerrar">×</button>
    </div>
    <input type="text" [(ngModel)]="nombreRuta" placeholder="Ej: Ruta Zona Norte">

    <button class="btn-confirm" (click)="saveRoute()">Guardar</button>
  </div>
</div>

  


