<div class="login-container">

  <!-- LADO IZQUIERDO -->
  <div class="login-form-side">

    <div class="form-wrapper">

      <!-- Logo -->
      <div class="brand-logo">
        <h3 class="brand-name">BMArutas</h3>
      </div>


      <!-- Título -->

      <div class="form-header">
        <h1 class="form-title">Bienvenido</h1>
        <p class="form-subtitle">
          Inicia sesión para continuar
        </p>
      </div>


      <!-- error -->

      @if (errorMessage()) {
        <div class="error-message">
          {{ errorMessage() }}
        </div>
      }


      <!-- FORM LOGIN -->

      <form
        (ngSubmit)="onLogin()"
        #loginForm="ngForm"
        class="auth-form"
      >


        <!-- correo -->

        <div class="form-group">

          <label>Email</label>

          <input
            type="email"
            name="correo"
            [(ngModel)]="loginData.correo"
            required
            class="form-input"
          >

        </div>


        <!-- password -->

        <div class="form-group">

          <label>Password</label>

          <input
            type="password"
            name="password"
            [(ngModel)]="loginData.password"
            required
            class="form-input"
          >

        </div>


        <!-- botón -->

        <button
          type="submit"
          class="btn-submit"
          [disabled]="loginForm.invalid || isLoading()"
        >
          Iniciar sesión
        </button>


      </form>

    </div>

  </div>


  <!-- LADO DERECHO -->

  <div class="login-image-side">
    <div class="image-overlay"></div>
  </div>

</div>
